#title{
  margin-top: 80px;
}

.btn {
  width: 129px;
  height: 48px;
  left: 123px;
  top: 531px;
  background: rgba(255, 255, 255, 0.8);
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#sns{
  margin: 50px;
}

#facebook{
  margin-right: 20px;
}
#kakaotalk{
  margin-right: 20px;
}
#instagram{
  margin-right: 20px;
}
