.qna{
  margin-top: 50px;
}

#box1 {
  text-align: center;
}

.content {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.content > * {
  flex-shrink: 0;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.expert {
  text-align: center;
}

.checkbox-with-img {
  margin: auto;
  text-align: left;
}

.only-checkbox {
  text-align: left;
}

.only-checkbox input{
  margin-bottom: 20px;
}

/* insert-pic section */
#insert-pic{
  display:block;
  margin-top: 150px;
}

#exampleIMG{
  margin-top: 55px;
  margin-left: 20px;
  float:left;
  margin-right: 30px;
}

#example-guide{
  margin-top: 55px;
  float:left;
  text-align: left;
}

#addIMG{
  margin-top: 250px;
  text-align: center;
}


/* common */
.prev-btn{
  width: 86.66px;
  height: 37px;
  left: 28px;
  top: 651px;

  background: rgba(255, 255, 255, 0.8);
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px;
}

.next-btn{
  width: 86.66px;
  height: 37px;
  left: 260px;
  top: 651px;

  background: rgba(255, 255, 255, 0.8);
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px;
}


/* mobile (max-width: 450px) */
@media screen and (max-width:450px) {
  .character-img {
    position: absolute;
    width: 124px;
    height: 145px;
    left: 20px;
    top: 406px;
  }

  .checkbox-with-img {
    position: absolute;
    width: auto;
    height: 76px;
    left: 137px;
    top: 440px;
  }

  .prev-btn {
    position: absolute;
    left: 40px;
  }

  .next-btn {
    position: absolute;
  }
}